<!-- <div class="nav-mask"></div> -->
<div class="sub-background-img-container background-img-container" ng-init="initialize()">
		<img class="background-img" src="http://static1.squarespace.com/static/56c2a944ab48de91dc61cecd/t/56c5c51727d4bd568aa2c920/1455801631810/Screen+Shot+2016-02-16+at+11.01.34+AM.png">
		</div>
		<div class="sub-background-mask-container background-mask-container"></div>
		<div class="background-content-container">
			
				<div class="bg-content-one">{{ header_one }}</div>
				<div class="bg-content-two">{{ header_two }}</div>
</div>
<div class="content-section-one">
	<div class="home-header-one">We Believe in the Power of a Mutually Beneficial Conversation</div>
	<div class="home-subheader-one">Currently in order to work a room, you walk into it blind and try to make connections. There are flaws to this. We believe we have a software that exposes these flaws and fixes them. Your attendees deserve better. You deserve better. Let us tell you why</div>
	<div class="content-img-container">
		<img src="http://static1.squarespace.com/static/56c2a944ab48de91dc61cecd/t/56c36599f850824fdd73d3c6/1455646120388/">
	</div>
	<div class="home-header-two">EVENT ORGANIZERS</div>
	<div class="home-subheader-two">Do you plan events? Let us show you how we can make them better through The Schmooz Effect and our event management tools.</div>
	<a href="#oursoftware" class="home-learn-more">Learn More &rarr;</a>
</div>